
@{
    ViewBag.Title = "Index";
}

<div class="container">


    <div class="row">

        <div class="col-md-2">
            <button type="button" onclick="location.href='@Url.Action("MemberList","Admin")'">Member List</button>
        </div>

        <div class="col-md-2">
            <button type="button" onclick="location.href='@Url.Action("AllProducts","Admin")'">Product List</button>
        </div>

        <div class="col-md-2">
            <button type="button" onclick="location.href='@Url.Action("RequestedProducts","Admin")'">Requested Product List</button>
        </div>

        <div class="col-md-2">
            <button type="button" onclick="location.href='@Url.Action("AllAuction","Admin")'">Auction List</button>
        </div>

        <div class="col-md-2">
            <button type="button" onclick="location.href='@Url.Action("CreateAuction","Admin")'">Create Auction</button>
        </div>

    </div>


</div>

